@charset "UTF-8";

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: linear-gradient(to right, #d3d3d3, #9b9b9b);
}
main
{
    display: block;
    margin: auto;
    background-color: #d3d3d3;
    width: 400px;
    height: 300px;
    box-shadow: 0px 0px 8px #808080;
}
main .titulo
{
    position: relative;
    top: 10px;
    left: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #2e2e2e;
    margin-top: 0px;
}
.lista
{
    list-style: none;
    font-size: 20px;
    margin-top: 35px;
}
.paginainicial
{
    display: flex;
    justify-content: center;
    align-items: center;    
}
div a
{
    font-size: 20px;
    background-color: #808080;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    margin-top: 15px;
}